$background-color: #f5f7fb;
$white: white;

$menu-gradient: linear-gradient(70deg, #242846, #252c4c);

$gradient1: linear-gradient(40deg, #76b2fe, #b69efe);
$gradient2: linear-gradient(40deg, #fbc1cc, #fa99b2);
$gradient3: linear-gradient(40deg, #f588d8, #c0a3e5);

$green: #80ff72;
$red: #fe5f75;

// #242846 #252c4c dark blue gradient
